# Default ignored files
/shelf/
/workspace.xml

# Java compiled files
*.class


# Logs
*.log

# Temporary files
*.tmp
*.swp

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build folders
bin/
out/

# IntelliJ / Eclipse (agar future me use karo)
.idea/
*.iml
.project
.classpath
.settings/